/* Main Page Styling */
* {
    font-family: Georgia, 'Times New Roman', Times, serif
}
/* Background Image */
body, html {
    background-image: url("../images/BG6.jpg");
    background-size: cover;
    /* position: fixed; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}
/* Main Titles */
h1 {
    color: rgb(223, 177, 62);
    width: 100%;
    text-decoration: underline;
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    font-weight:600
}
h2#mission {
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
}
h2 {
    text-align: center;
    font-size: 35px;
    color:rgb(89, 139, 28);
    font-weight: bold;
    text-decoration: underline;
}
/* Homepage button styling */
button.button {
font-family: inherit; 
  font-size: 100%; 
  overflow: visible;
  text-align: center;
  margin: 15px 10px;
  float:left;
  display: grid;
  background-color:rgb(89, 139, 28);
  color:rgb(223, 177, 62);
  border-color: rgb(89, 139, 28);
  font-weight: bold;
}
img {
    float: left;
}
/* Headers Styling */
strong, a strong {
    color: saddlebrown;
    font-size: 18px;
}
medium {
    font-weight: bold;
    font-size: 16px;
    color: whitesmoke;
}
/* Text Content Styling*/
p#mission {
    text-align: center;
    margin: 10px 10px;
}
p {
    color: rgb(223, 177, 62);
    font-weight: 600;
}
div.box {
    padding: 30px;
    background-color: transparent;
}
/* Contact Us Section */
h3 {
    color: rgb(80, 11, 11);
    font-size: 18px;
}
div.column {
   text-align: center;
   align-content: center;
}