/* background image */
body, html {
    background-image: url("../images/heroBG7.jpg");
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
   background-attachment:unset;
}

/* In Progress */
h1 {
    color: rgb(223, 177, 62);
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 400%;
}

/* Homepage button */
button.button {

    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(223, 177, 62);
    margin-top: 105px;
    width: 10%;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    
    

}
 