/* Title */
.title {
    font-weight: 900;
    font-size: 40pt;
    color: goldenrod;
}

/* Hero Section with navbar */
.hero , body {
    background-image: url("../images/heroBG7.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
}

.navbar-end {
    background-color: transparent;
}

a.navbar-item:hover {
    color: darkcyan;
    border-radius: 4px;
    position: static;
    padding: 3px;
}

.navbar-item {
    color: rgb(9, 77, 9);
    font-weight: bold;
}

.navbar-burger {
    color: white;
    font-weight: bold;
}
/* Top Page button styling */
a.button {
    background-color: saddlebrown;
    border-color:saddlebrown;
    color: goldenrod;
    margin: 0 auto;
}
a.fav {
    color: saddlebrown;
    font-size: 18px;
}
.fa-star:before {
    color:goldenrod;
}
.button:hover {
    color: saddlebrown;
    background-color: goldenrod
}
/* More Navbar Styling */
div#navbarMenuHeroA.navbar-menu {
    align-items: stretch;
    justify-content: flex-end;
}
nav#dropdown.navbar {
    align-items: stretch;
    justify-content: flex-start;
}
a.navbar-link h2 {
    color: saddlebrown;
}

/* US state search bar */
h1#where {
    font-size: 16pt;
    text-align: center;
    color: white;
    font-weight: 400;
}
/* Campsites API */
h2.api-head {
    text-align: center;
    font-size: 18pt;
    color: rgb(9, 77, 9);
    text-decoration: underline;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

/* Column Styles */
sections.columns {
    table-layout: fixed;
    display: inline-block;
}

 .button {
    white-space: pre-wrap;
    padding: 3px;
    border: 1px 1px solid goldenrod;
    margin: 15px 0px;
    font-weight: bold;
    height: fit-content;

} 
/* Modal Styling */
p.subtitle {
    width: fit-content;
    text-align: center;
}