/* Title */
.title {
    font-weight: 900;
    font-size: 40pt;
    color: darkgoldenrod;
}

/* Hero Section with navbar */
.hero {
    background-image: url("../images/heroBG11.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
}

.navbar-end {
    background-color:transparent;
}
a.navbar-item:hover {
    color:rgb(221, 122, 41);
    background-color: rgb(9, 77, 9);
    border-radius: 4px;
}
.navbar-item {
    color:rgb(221, 122, 41);
    font-weight: bold;
}
.navbar-burger {
    color: white;
}
a.button {
    background-color:rgb(9, 77, 9);
    border-color: rgb(9, 77, 9);
    color:rgb(221, 122, 41);
    margin: 0;
}
.button:hover {
    color: rgb(221, 122, 41);
    background-color:rgb(9, 77, 9);
    border-color: rgb(221, 122, 41);
}
a.navbar-link h2 {
    color: #4a4a4a;
}
/* US state search bar */

/* Campsites API */
h2.api-head {
    text-align: center;
    font-size: 16pt;
    color: rgb(9, 77, 9);
    text-decoration: underline;
}
h2 {
    font-size: 16px;
    font-weight: bold;
}
/* Column Styles */
sections.columns {
    table-layout: fixed;
    display: inline-block;
}
.button {
    white-space: pre-wrap;
    padding: 3px;
    background-color: rgb(221, 122, 41);
    border: 1px 1px solid rgb(221, 122, 41);
    margin: 15px 0px;
    color: rgb(9, 77, 9);
    font-weight: bold;

}
/* Buttons for campsites and campfire stories */


